{
  "**/*.(js|jsx)": [
    "builder run lint:file --",
    "builder run format:file --",
    "git add"
  ],
  "**/*.(gql|graphql)": [
    "builder run format:file --",
    "git add"
  ],
  "**/*.md": [
    "builder run format:file --",
    "git add"
  ]
}